body {
    background-color: lightgray;
}

#canvas {
    background-color: white;
    border: 1px dotted black;
    border-radius: 10px;
}

#mainContent {
    width: 1024px;
    margin: 0 auto;
}

@font-face {
    font-family: EthnocentricReg;
    src: url(../Assets/fonts/ethnocentricRG.ttf);
}